.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.settings {
  display: flex;
  gap: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}